services:
  assistant-backend:
    build:
      context: ..                 # Sets the build context to the Project Root
      dockerfile: Docker/Dockerfile  
    container_name: assistant-backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ../.env                   

  ngrok:
    image: ngrok/ngrok:alpine
    container_name: ngrok-sidecar
    restart: always
    # We address the container by its service name "assistant-backend"
    command: http --domain=stirring-yearly-anteater.ngrok-free.app assistant-backend:5000
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040"
    depends_on:
      - assistant-backend
    env_file:
      - ../.env                   # Loads NGROK_AUTHTOKEN from the root .env